@import '../../styles/variable';

.hd-top-border{
	box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
	border-radius: 0 0 4px 4px;
	height: 4px;
}
.hd-row{
	padding: 20px 0;
}

.hd-button{
	position: relative;
	font-size: 16px;
	padding: 0 15px;
	font-weight: 600;
	color: $black-semi;
	cursor: pointer;
	transition: 0.3s all ease;
	&:hover{
		color: $secondary;
	}
}

.hd-button-active{
	color: $secondary;
	cursor: default;
}

.hd-image{
	width: 36px;
	height: 36px;
	background-color: $cream;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 18px;
}

.hd-arrow{
	margin: 0 10px;
}

.header-sub{
	position: absolute;
	left: 50%;
	min-width: max-content;
	min-width: -moz-max-content;
	z-index: 50;
}

.header-sub-content{
	position: relative;
	height: 32px;
	left: -50%;
	border-radius: 16px;
	background-color: $secondary;
}

.hd-menu{
	transition: 0.5s all ease;
	&:hover{
		transition: 0.5s all ease;
		color: white;
	}
}