@import '../../styles/variable';

.rec-h2{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid $secondary;
}

.recipient-add-column{
	background-color: #F4F4F4;
	border-radius: 10px;
	padding: 8px 0;
}