@import '../../styles/variable';
.tc-img{
	height: 26px;
	margin-right: 12px;
}
.sr-row{
	margin-bottom: 8px;
}
.tc-circle-recipient{
	height: 24px;
	width: 24px;
	border-radius: 12px;
	background-color: $primary;
	margin-right: 8px;
}

.tc-white-row{
	padding: 16px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0 1px 2px;
	border-radius: 5px;
}
.tc-td{
	padding-bottom: 12px;
}