@import '../../styles/variable';

.trade-c-circle, .trade-c-circle-active{
	width: 16px;
	height: 16px;
	border: 2px solid $black-semi;
	border-radius: 8px;
	background: white;
	position: absolute;
	z-index: 5;
	top: 8px;
}

.trade-c-circle-active{
	border: 2px solid $blue;
}

.trade-c-line, .trade-c-line-top, .trade-c-line-bottom{
	width: 16px;
	height: auto;
	padding: 12px 0;
	margin: 0 8px;
	&:after{
		content: '';
		position: absolute;
		height: 100%;
		width: 2px;
		top:8px;
		left: 7px;
		background: $black-semi;
		z-index: 1;
	}
}

.trade-c-line-top{
	&:after{
		margin-top: 6px;
	}
}

.trade-c-line-bottom{
	&:after{
		height: 0;
	}
}

.trade-c-box{
	border-radius: 5px;
	padding: 5px 15px 10px;
}

.trade-c-recipient-row{
	margin-top: 10px;
}

.trade-c-table{
	background-color: white;
	margin-top: 15px;
}