@import '../../styles/variable';

.sr-container{
	min-height: 569px;
}


.sr-logo{
	margin: 15px 0;
}

.sr-card{
	margin: 50px 0;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0 2px 6px;
	padding: 0;
}

.sr-form{
	padding: 28px;
}

.sr-title{
	padding: 28px 28px 84px;
}

.sr-photo-profile{
	width: 128px;
	height: 128px;
	background-color: $cream;
	border-radius: 50%;
	margin-bottom: 8px;
	margin-top: -90px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sr-num{
	max-width: 125px;
}

.sr-no-margin{
	margin: 0 !important;
}