@import '../../styles/variable';

.tran-c-row{
	box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 8px;
	border-radius: 10px;
	border-left: 10px solid $secondary;
	padding: 15px 0;
	margin: 16px 0;
}
.tran-c-row-failed{
	border-left: 10px solid $red;
}

.tran-c-row-completed{
	border-left: 10px solid $green;
}

.tran-c-line-1{
	line-height: 1px;
}

.tran-c-line-16{
	line-height: 16px;
}

.tran-c-img{
	height: 26px;
	margin-right: 12px;
}

.tran-c-arrow{
	height: 10px;
	margin: 10px;
	margin-right: 16px;
	border: solid $primary;
	border-width: 0 3px 3px 0;
}

.tran-r-row-flag{
	margin-bottom: 24px;
}