@import '../../styles/variable';

.tran-c-row{
	box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 8px;
	border-radius: 10px;
	border-left: 10px solid $blue;
	padding: 15px 0;
}

.tran-c-line-1{
	line-height: 1px;
}

.tran-c-line-16{
	line-height: 16px;
}