@import 'variable';

.button, .button-sm, .button-xs{
	padding: 0 24px;
	font-size: 20px;
	height: 44px;
	cursor: pointer;
	font-weight: 600;
	border: 0;
	border-radius: 22px;
	text-transform: capitalize;
	transition: 0.3s all ease;
	color: white;	
	margin: 8px 0;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	&:focus{
		outline: 0;
	}
	&:disabled{
		cursor: default;
	}
	&:active{
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
	}
}

.button-sm{
	padding: 0 20px;
	font-size: 18px;
	height: 36px;
}

.button-xs{
	height: 24px;
	padding: 0 16px;
	font-size: 16px;
}

//button color
.button-primary{
	background-color: $primary;
	&:hover{
		background-color: $primary-hover;		
	}
	&:active{
		background-color: $primary-active;
	}
	&:disabled{
		background-color: $primary-disabled;
	}
}

.button-secondary{
	background-color: $secondary;
	&:hover{
		background-color: $secondary-hover;		
	}
	&:active{
		background-color: $secondary-active;
	}
	&:disabled{
		background-color: $secondary-disabled;
	}
}

.button-secondary-white{
	background-color: white;
	color: $primary;
	&:hover{
		background-color: $secondary-white-hover;		
	}
	&:active{
		background-color: $secondary-white-active;
	}
	&:disabled{
		background-color: white;
		color: $secondary-disabled
	}
}

.button-yellow{
	background-color: $yellow;
	color: $black;
	&:hover{
		background-color: $yellow-hover;		
	}
	&:active{
		background-color: $yellow-active;
	}
	&:disabled{
		background-color: $secondary-disabled;
		color: white;
	}
}

.button-black{
	background-color: $black-button;
	color: $black-bold;
	&:disabled{
		background-color: $black-disabled;
	}
}

.button-red-google{
	background-color: $red-google;
	color: white;
}


.button-secondary-facebook{
	background-color: $secondary-facebook;
	color: white;
}