@import 'variable';

.text-secondary{
	color: $secondary !important;
}
.background-secondary{
	background: $secondary;
}

.text-primary{
	color: $primary !important;
}
.background-primary{
	background: $primary;
}


.background-primary-dark{
	background: $primary-dark;
}
.text-primary-dark{
	color: $primary-dark !important;
}


.background-secondary-light{
	background: $secondary-light;
}

.text-secondary-semi{
	color: $secondary-semi;
}
.background-secondary-semi{
	background: $secondary-semi;
}

.text-gray{
	color: $gray;
}


.text-gray-80{
	color: $gray-80;
}


.text-black{
	color: $black;
}

.text-black-semi{
	color: $black-semi;
}


.text-black-bold{
	color: $black-bold;
}


.text-gray-dark{
	color: $gray-dark;
}


.text-gray-80{
	color: $gray-80;
}
.background-gray-80{
	background-color: $gray-80;
}


.background-cream{
	background-color: $cream;
}