@import 'variable';

body {
    font-family: "Source Sans Pro" !important;
		overflow-x: hidden;
		min-height: 100%;
}

.clickable {
	cursor: pointer;
}

.no-margin {
	margin: 0;
}

.no-horizontal-margin{
	margin-left: 0;
	margin-right: 0;
}

.no-padding{
	padding: 0;
}

.no-left-padding{
	padding-left: 0;
}

.no-right-padding{
	padding-right: 0;
}

.p_line{
	line-height: 17px;
}

.line-height-4{
	line-height: 4px;
}


.font-weight-semi-bold{
	font-weight: 600;
}

.full-width{
	width: 100%;
}

.full-height{
	height: 100%;
}

.tc-td{
	padding-bottom: 12px;
}


.horizontal-padding{
	padding-left: 15px;
	padding-right: 15px;
}

//logo select
.select-logo{
	height: 20px;
	width: 30px;
	margin-right: 8px;
	margin-top: -4px;
}
.li-input-select{
	width: 100%;
	border-radius: 10px;
	font-size: 16px;
	margin-bottom: 10px;
	&:focus{
		outline: 0;
	}
	.Select-control{
		border-radius: 10px;
	}
}

//dashboard container
.dashboard-container{
	padding: 30px 0 224px;
}

//modal
.ml-header{
	padding: 30px;
	padding-bottom: 60px;
}
.ml-content{
	padding: 30px;
}
.modal-button{
	margin: 10px 0;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.usr-row{
	margin-bottom: 24px;
	margin-top: 24px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.no-top-margin {
	margin-top: 0 !important;
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

.triangle
{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid $secondary;
	margin-left: -10px;
	margin-top: 8px;
}

//circle big style
.circle-big{
	position: absolute;
	bottom: 0;
	right: 90px;
	height: 200px;
}

//styling for datepicker
.react-datepicker-wrapper, .react-datepicker__input-container{
	width: 100%;
}

// modal
.mic-content{
	padding: 16px 24px;
}

.font10 {
    font-size: 10px !important;
}
.font11 {
    font-size: 11px !important;
}
.font12 {
    font-size: 12px !important;
}
.font14 {
    font-size: 14px !important;
}
.font16 {
    font-size: 16px !important;
}
.font18 {
	font-size: 18px !important;
}
.font20 {
	font-size: 20px !important;
}
.font22 {
    font-size: 22px !important;
}
.font24 {
    font-size: 24px !important;
}
.font28 {
    font-size: 28px !important;
}
.font36 {
    font-size: 36px !important;
}


//confirmation page
.confirm-container{
	min-height: 509px;
	margin-bottom: 60px;
}

.confirm-img{
	margin: auto;
	margin-top: 80px;
	margin-bottom: 35px;
	width: 168px;
	height: 0;	
	border-radius: 84px;
	background: $cream;
}
.confirm-img-show{
	height: 168px;	
}

.confirm-logo{
	margin: 15px 0;
}

//card
.card{
	border: 0;
	box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 6px;
	border-radius: 5px;
	padding: 24px;
}


@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format("truetype");
	font-weight: bolder;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
	font-weight: normal;
}			
			