$blue: #22BBCC;
$blue-dark: #198290;
$yellow: #FFEF0A;
$black: #003940;
$white: #FFF;
$gray: #AAAAAA;
$gray-dark: #8A8A8A;
$gray-80: #CCCCCC;
$cream: #FAFAFA;
$black-bold: #464646;
$black-button: #86ABAD;
$black-semi: #6A6A6A;
$black-disabled: #B5D1D2;
$blue-light: #E8F8F9;
$blue-semi: #64CFDB;
$red-google: #FF120A;
$blue-facebook: #2559B4;