@import '../../styles/variable';

.recipient-card{
	margin: 16px 0;
}

.recipient-img{
	height: 24px;
	margin-right: 12px;
}

.recipient-close{
	width: 44px;
	height: 44px;
	padding: 0;
}

.recpient-img-close{
	height:16px;
}

.recipient-row-collapse{
	padding-top: 16px;
}