.modal-wrapper, .modal-wrapper-open{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	&:after{
		content:'';
		top:0;
		left: 0;
		opacity: 1;
		position: fixed;
		width: 100%;
		height: 100%;
		transition: 0.5s all ease;		
	}
}

.modal-wrapper-open{
	visibility: visible;
	&:after{
		content:'';
		top:0;
		left: 0;
		opacity: 0.6;
		background-color: black;
		position: fixed;
		width: 100%;
		height: 100%;
		transition: 0.5s all ease;		
	}
}
.modal-content-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}

.modal-content, .modal-content-open{
	min-height: 10px;
	width: 100%;
	max-width: 400px;
	background-color: white;
	margin: 7% auto;
	z-index: 101;
	transform: translateY(-150%);
	border: 0;
	border-radius: 5px;
	transition: 0.8s all ease-in-out;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.modal-content-open{
	transform: translateY(0%);	
}

.close-area{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}