@import '../../styles/variable';

.tc-col{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
	padding: 16px 0;
	margin: 0;
	border-radius: 5px;
	margin-bottom: 10px;
}
.tc-img-col{
	max-width: 72px;
	width: 100%;
}
.tc-image{
		position: relative;
		border-radius: 50%;
		width: 100%;
		height: auto;
		padding-top: 100%;
		background: $blue;
}
.tc-disabled{
	position: absolute;
	top: 0;
	left: 0;
	background: #E8F8F9;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}