@import './../../styles/variable';

.tl-block{
	width: 16px;
	height: 8px;
	border-radius: 4px;
	margin: 0 1px;
	margin-top: -1px;
}
.tl-p{
	margin: 0;
	line-height: 3px;
}
.tl-text{
	margin-right: 3px;
}