@import '../../styles/variable';

.header-container{
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
}
.header-row{
	height: 72px;
}
.header-button{
	transition: 0.2s all ease-in-out;
	color: #22BBCC;
	padding: 5px 20px;
	border-radius: 30px;
	cursor: pointer;
	margin: 5px 5px;
	font-size: 20px;
	font-weight: bold;
	&:hover{
		background-color: $secondary;
		color: white;
	}
}