.b-col, .b-col-selected{
	border-radius: 5px;
	border: 1px solid #86D9E3;
	background-color: #FFFFFF;
	height: 64px;
	img{
		max-height: 36px;
		max-width: 64px;
	}
	transition: 0.5s all ease;
}

.b-col-selected{
	border: 4px solid #198290;
}

.b-ccc{
	padding: 0 4px;
}